.add-button {
  width: 85%;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

form {
  width: 90%;
  margin: auto;
}

.form-label{
    font-size: 1.2rem;
}

.form-control-feedback{
    font-size: 1.1rem;
}
